@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
*{
    font-family:'Arvo';
    margin: 0%;
}
body{
    background-image: repeating-linear-gradient( 
        339deg, #0000004f, #ffffff 1000px);
}

h1#rijal{
    color: seashell;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 383px;
    background-image: url(bg3.jpg);
    background-repeat: no-repeat,repeat;
    background-position: right bottom, left top;
    background-size: 1440px 383px;
    box-shadow: 0px 0px 5px 1px;
}
img#img-cyrcle {
    margin-bottom: 10px;
    width: 200px;
    border-radius: 50%;
    box-shadow: -1px 1px 3px 0px;
    border: 0.1px solid  rgba(255, 255, 255, 0.25);
}
.name{
    background:rgba(255, 255, 255, 0.25);
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 2%;
    box-shadow: -1px 1px 3px 0px;
}
div.sosmed{
    display: inline-flex;
    position: absolute;
    left: 0;
    top:62% ;
}
div.sub{
    display: inline-flex;
}
p#sosmed,img#sosmed{
    margin-right: 10px;
}
p#sosmed{
    color: white;
}
img#sosmed{
    width: 25px;
}
h1#header  {
    color: white;
}
h3#header  {
    color: white;
}
.card {
    box-shadow: -2px 4px 13px 0px #8c8c8c;
    width: auto;
    height: auto;
    margin: 20px 250px 25px 250px;
    padding: 25px;
    border-radius: 2%;
}
ul{
    list-style: none;
}
.container{
    background: rgb(236 234 239);
    width: 90%;
    margin-inline: auto;
}
.biodata-flex{
    display: flex;
    justify-content: center;
}
.biodata{
    width: 75%;
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.biodata > #biodata {
    margin-top: 10px;
}
hr{
    height:5px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 7em;
}
